<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~ *  Created Ernald Zykaj on 29/12/20 10:26 PM
  ~ *  Copyright Ⓒ 2020. All rights reserved Ⓒ 2020
  ~ *  Last modified: 28/12/20 11:34 PM
  ~ *
  ~ *  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file
  ~ *  except in compliance with the License. You may obtain a copy of the License at
  ~ *  http://www.apache.org/licenses/LICENS... Unless required by applicable law or agreed to in writing, software
  ~ *   distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
  ~ *   either express or implied. See the License for the specific language governing permissions and
  ~ *   limitations under the License.
  ~ */
  ~
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gohool.albaniaguide">

    <application
        android:name="Content.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_final"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_final_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AlbaniaGuide">


        <activity android:name="LearnAlbanian.LearnHotel"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnBeach"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnTaxi"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnRestaurant"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnBar"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnParty"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnTime"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LookingForSomeone"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnConversation"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnEssentials"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.LearnNumbers"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity android:name="LearnAlbanian.ShowWebFile"
            android:parentActivityName="LearnAlbanian.LearnShqipMain"/>
        <activity
            android:name="LearnAlbanian.LearnShqipMain"
            android:parentActivityName="Content.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="ContactUs.ContactUs"
            android:parentActivityName="Content.HomeActivity"
            android:screenOrientation="portrait" />
        <!-- TTTTTTTTTTTTTTTTTTTTour Informationnnnnnnnnnnnnnnnnnnnn -->
        <activity
            android:name="TourCityGuide.Activity_Historicial_Koman"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Llogara"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Dajti"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Theth"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Kruje"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Pogradec"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Ksamil"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Sarande"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historicial_Durres"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="GoogleMap.AlbaniaMap"
            android:label="@string/title_activity_albania_map"
            android:parentActivityName="Content.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Tavkosi"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Ashure"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Ferges"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Raki_Rrushi"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Byrek"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Bakllava"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Foods_Tarator"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historical_Fieri"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historical_Berat"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historical_Vlora"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historical_Gjirokastra"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historical_Tirana"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_shoppingPlaces_Etc"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_shoppingPlaces_Qtu"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_shoppingPlaces_Ring"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_shoppingPlaces_Teg"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_shoppingPlaces_Toptani"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_hotels_Fieri"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_Hotels_Palace"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_Hotels_Colosseo"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_Hotels_Tirana_International"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.activity_hotels_Plaza"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.Activity_Historical_Albania"
            android:parentActivityName="TourCityGuide.MainActivityTour" />
        <activity
            android:name="TourCityGuide.MainActivityTour"
            android:parentActivityName="Content.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="Content.WeirdAlbania"
            android:parentActivityName="Content.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="MediaMPlayer.MusicMainActivity"
            android:parentActivityName="Content.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="AlbMessage.MainActivity"
            android:parentActivityName="Content.HomeActivity" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="Content.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.statusBarTransparent" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MMMMMMMMMMMMMMMMMMMMeta Dataaaaaaaaaaaaaaaaaaaaaaaaa -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5203530266762842~5634365245" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>